{% extends "base.html.twig" %}

{% block title %}
	{{ exception.statusText }}
{% endblock %}

{% block body %}
	<section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
		<h1>{{ exception.statusCode }}</h1>
		<h2>{{ exception.statusText }}</h2>
		<a class="btn" href="{{ path('homepage') }}">Accueil</a>
		<img src="{{ asset('build/images/not-found.svg') }}" class="img-fluid py-5" alt="Page Not Found">
	</section>
{% endblock %}
