<div
	class="card mb-3 me-2">
	{# Render only the first image #}
	<img src="{{ vich_uploader_asset(p.images.first, 'imageFile') }}" alt="Product Image" class="img-fluid">
	<div class="card-body">
		<h4 class="card-title">{{ p.name | uppercase }}
			<span class="text-primary fw-bold">
				({{ p.price | amount }})</h4>
		</span>
		<span class="d-flex flex-row align-items-center align-self-center flex-wrap">
			<span class="badge bg-info me-1">{{ p.category.name }}</span>
			<span class="me-1">/
				{{ p.energy }}</span>
			<span class="me-1">/
				{{ p.kilometers }}
				kms</span>
			<span>/
				{{ p.circulationAt | date("Y") }}</span>
		</span>
		<hr>
		<p class="card-text">
			{{ p.shortDescription|raw|nl2br|striptags|u.truncate(150, '...') }}
		</p>
		<hr>
		<a href="{{ path('product_show', {'category_slug': p.category.slug, 'slug': p.slug}) }}" class="btn btn-primary btn-sm">En savoir plus</a>
	</div>
</div>
