{% extends "base.html.twig" %}

{% block title %}
	Votre avis
{% endblock %}

{% block body %}
	<h1 class="text-center">DONNER VOTRE AVIS</h1>
	<div class="row mt-5 d-flex align-items-center flex-column">
		<h4 class="text-center">Votre avis est très important pour nous !</h4>
		<div class="col-md-6">
			{{ form_start(form) }}
			{{ form_errors(form) }}
			{{ form_row(form.fullname) }}
			{{ form_row(form.content) }}
			{{ form_row(form.rating) }}

            <button type="submit" class="btn btn-success">Envoyez</button>
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
