<div class="container-detailed">
	<div class="show-detailed-car">
		<div class="grid-header text-start">
			<header>
				<h5 class="mb-0">Détail du véhicule</h5>
				<p class="small fst-italic mb-0">{{ product.name }}</p>
			</header>
		</div>
		<div class="mw-0">
			<div class="detailed-items-car">
				<div class="refunded-content">
					<div class="text-start">
						<span class="label">Marque :</span>
						<span class="fw-bold text-uppercase">{{ product.model.name }}</span>
					</div>
					<div class="text-start">
						<span class="label">Couleur :</span>
						<span class="fw-bold">{{ product.color.name }}</span>
					</div>
					<div class="text-start">
						<span class="label">Modèle :</span>
						<span class="fw-bold text-uppercase">{{ product.type.name }}</span>
					</div>
					<div class="text-start">
						<span class="label">Kilométrage :</span>
						<span class="fw-bold">{{ product.kilometers }}
							Kms</span>
					</div>
					<div class="text-start">
						<span class="label">Boîte de vitesse :</span>
						<span class="fw-bold">{{ product.gearbox }}</span>
					</div>
					<div class="text-start">
						<span class="label">Année :</span>
						<span class="fw-bold">{{ product.circulationAt | date('Y') }}</span>
					</div>
				</div>
			</div>
		</div>
		<div class="mw-0">
			<div class="detailed-items-car">
				<div class="refunded-content">
					<div class="text-start">
						<span class="label">Prix TTC :</span>
						<span class="fw-bold">{{ product.price | amount }}</span>
					</div>
					<div class="text-start">
						<span class="label">Certificat CRIT'AIR :</span>
						<span class="fw-bold text-uppercase">{{ product.critair.name }}</span>
					</div>
					<div class="text-start">
						<span class="label">Type de véhicule :</span>
						<span class="fw-bold">{{ product.category.name }}</span>
					</div>
					<div class="text-start">
						<span class="label">Puissance Réelle :</span>
						<span class="fw-bold">{{ product.fiscalhorsepower }}</span>
					</div>
					<div class="text-start">
						<span class="label">Carburant :</span>
						<span class="fw-bold">{{ product.energy.name }}</span>
					</div>
					<div class="text-start">
						<span class="label">Mise en circulation :</span>
						<span class="fw-bold">{{ product.circulationAt | date('d/m/Y') }}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
