{% extends 'base.html.twig' %}

{% block title %}Nous contacter
{% endblock %}

{% block body %}
	<h1>Nous contacter</h1>
	{{ form_start(form) }}
	{{ form_errors(form) }}
	<div class="row">
		<div class="col-md-6 mb-3">
			{{ form_row(form.firstname, {'attr': {'class': 'form-control mb-3'}}) }}
			{{ form_row(form.lastname, {'attr': {'class': 'form-control mb-3'}}) }}
		</div>
		<div class="col-md-6 mb-3">
			{{ form_row(form.phone, {'attr': {'class': 'form-control mb-3'}}) }}
			{{ form_row(form.email, {'attr': {'class': 'form-control mb-3'}}) }}
		</div>
		<div class="col-md-6 mb-3">
			{{ form_row(form.content, {'attr': {'class': 'form-control'}}) }}
		</div>
	</div>
	<button class="btn btn-success mt-3" type="submit">
		<span>Nous contacter</span>
	</button>
	{{ form_end(form) }}
{% endblock %}
